
body{
    display: block;
    background-image: url('/public/b.jpg');
    height: auto;
    object-fit: contain;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top;
}
 .pageContainer{

    /* padding-top: 15%; */
 }
.fUpclass{

    margin-top: 10%;
    border:  10px ;
    border-color: black;
    display: none;
}

.parentContainer{
    
}
#filePara{

    margin-left: 8px;
}
.modal-label{
    display: inline-block;
    line-height: 2.2em;
    float: middle;
    padding: 0 0.62em;
    width: 250px;
    border: 1px solid #666;
    border-radius: 0.25em;
    background-image: linear-gradient( to bottom, #fff, #ccc );
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 );
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
 }

 /* .homepage-dropdown{

    margin-top: 12px ;
    display: block;
    text-align: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    
 } */
.dropdownClass{

    text-align: center;
    margin-top: 14px;
    width: 250px !important;
    margin-left: 1.5%;
   
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 );
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    
}

.form-control::placeholder { 
    color: rgb(48, 46, 46);
    opacity: 1; 
}
.numOfNodesInput{

    width: 250px;
    display: inline-block;
    line-height: 1.7em;
    float: middle;
    margin-top: 12px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 1.0em;
   
    border: .5px solid rgb(0, 0, 0);
    border-radius: 0.25em;
    background-image: linear-gradient( to bottom, #fff, #ccc );
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.2em rgba( 0, 0, 0, 0.3 );

}
[contenteditable="true"]:focus {
    outline: none;
}
 .fileUploadedContainer{
     
     display: flex;
     margin-left: 36.5%;
     
 }
 .submitbtn{

    display: flex;
    /* position: relative; */
    justify-content: right;
    margin-left: 47.5%;
    margin-top: 32px;
 }

 .footerHomepage{

    position: fixed;
    text-align: left;
    bottom: 0;
    left: 0;
    padding-left: 1%;
    padding-bottom: 1%;
 }

 #NBfooter{
    margin: 0;
 }
 .btnblock{
    
    display: inline;
    padding-left: 0.8%;
    padding-top: .5%;
    position:  absolute;
    font-size: 23px !important;
    color: #666;
 }
 /*//////////////////////////////////////////////////////////*/
 .animate-charcter
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 50%,
    #0d8de2 67%,
    #030000 100%
  );
  padding-top: 15%;
  padding-bottom: 6%;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}